.RegistrationForm {
	display: flex;
	width: 300px;
	padding: 1em;
	border: 1px solid #ccc;
	margin: auto;
	justify-content: center;
	flex-direction: column;
}

.RegistrationForm .form-title {
	margin-top: 0;
}