.ModalDialog {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: flex-start;
	top: 0;
	z-index: 99;
	background: rgba(0,0,0,0.75);
	width: 100%;
	height: 100vh;
}

.ModalDialog.visible {
	display: flex;
}

.ModalDialog .dialog {
	margin-top: 5em;
	min-width: 300px;
	background: #fff;
}

.ModalDialog .dialog-header {
	display: flex;
	padding: 1em;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px solid #ddd;
}

.ModalDialog .close {
	font-size: 1em;
}

.ModalDialog .title {
	margin: 0;
}

.ModalDialog .dialog-content {
	padding: 1em;
}